/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--page-gap);
  padding: var(--page-gap) 0;
  font-family: var(--font-main);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-main);
}

.page__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
  border: var(--border-style);
  text-align: center;
  background-color: var(--bg-color);
  min-block-size: clamp(20.4375rem, 17.4808rem + 12.6154vw, 23rem);
  inline-size: var(--content-width);
}

.logo {
  color: var(--text-color);
  font-family: var(--font-accent);
  line-height: 100%;
  text-transform: uppercase;
}

.logo--title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.logo--subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.page__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--body-gap);
  inline-size: var(--content-width);
}

.card {
  border: var(--border-style);
  background-color: var(--bg-color);
}

.card__title {
  padding-inline: var(--card-title-padding-inline);
  font-family: var(--font-main);
  font-size: var(--text-size-main);
  line-height: var(--line-height-title);
  font-variation-settings: "wght" var(--font-weight-title);
  min-block-size: 30px;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: var(--card-padding);
  padding: var(--card-padding) var(--card-padding);
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  display: block;
  border-top: var(--border-style);
  border-bottom: var(--border-style);
  inline-size: 100%;
}

.card__image--negative {
  filter: grayscale(0.4) brightness(0.8) contrast(1.2) hue-rotate(200deg);
}
.card__image--warm {
  filter: sepia(0.5) saturate(1.3);
}
.card__image--hopeful {
  filter: brightness(1.1) saturate(1.3);
}
.card__image--calm {
  filter: hue-rotate(100deg) brightness(1.1);
}
.card__image--dreamy {
  filter: blur(1.5px) brightness(1.1);
}
.card__image--bright {
  filter: saturate(1.5) contrast(1.2);
}
.card__image--celebration {
  filter: saturate(1.5) hue-rotate(25deg) brightness(1.1) contrast(1.2);
}

.card__label {
  position: absolute;
  color: var(--card-label-text-color);
  font-size: var(--text-size-small);
  text-shadow: -1px 0 var(--card-label-stroke-color),
    0 1px var(--card-label-stroke-color), 1px 0 var(--card-label-stroke-color),
    0 -1px var(--card-label-stroke-color);
  inset-block-start: var(--card-label-offset);
  inset-inline-end: var(--card-label-offset);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--card-label-stroke-color)) or
    (-webkit-text-stroke: 1px var(--card-label-stroke-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card-label-stroke-color);
    text-stroke: 1px var(--card-label-stroke-color);
  }
}

.card__text {
  font-family: var(--font-main);
  font-size: var(--text-size-main);
  line-height: var(--line-height-main);
  font-variation-settings: "wght" var(--font-weight-main);
}

.card__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--button-gap);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__icon-button {
  margin: 0;
  padding: 0;
  box-shadow: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-style);
  outline-offset: -1px;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0%;
}

.like-icon:hover .core {
  fill: var(--heart-hover-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-active-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-active-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-animation-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--heart-animation-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-animation-color);
  transition: fill 0.3s linear 0.05s;
}

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s;
}

.card__like-button {
  position: relative;
  border: var(--border-style);
  overflow: hidden;
  background-color: var(--bg-color);
  inline-size: 130px;
  block-size: 38px;
}

.card__like-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  font-family: var(--font-accent);
  font-size: var(--text-size-small);
  line-height: 90%;
  mix-blend-mode: difference;
}

.button--save {
  position: relative;
  flex-direction: row;
  gap: var(--button-save-gap);
  border: var(--border-style);
  overflow: hidden;
  background-color: var(--bg-color);
  inline-size: var(--button-save-width);
  block-size: var(--button-save-height);
}

.button--save svg {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  inline-size: var(--button-icon-size);
  mix-blend-mode: difference;
}

.button--save::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}

.button--save:hover::before {
  transform: scaleX(1);
}

.dialog {
  display: none;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  row-gap: var(--dialog-gap-row);
  column-gap: var(--dialog-gap-column);
  border: var(--border-style);
  padding: var(--dialog-padding) var(--dialog-padding);
  background-color: var(--bg-color);
  inline-size: var(--dialog-width);
  max-inline-size: 100%;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog svg {
  inline-size: 39px;
}

.dialog__text {
  font-family: var(--font-accent);
  font-size: var(--text-size-small);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  position: relative;
  z-index: 1;
  grid-column: 1 / -1;
  border: var(--border-style);
  background-color: var(--bg-color);
  min-block-size: 38px;
}

.dialog__button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  pointer-events: none;
}

.dialog__button:hover::before {
  transform: scaleX(1);
}

.button--save:focus-visible,
.card__like-button:focus-visible,
.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

@media (width <= 375px) {
  .card__title {
    line-height: 26px;
  }

  .button--save {
    flex-direction: column;
    inline-size: var(--button-save-width-mobile);
    block-size: var(--button-save-height-mobile);
  }
  .button--save svg {
    inline-size: var(--button-save-icon-size-mobile);
  }
  .dialog[open] {
    padding: var(--dialog-padding-mobile);
    inline-size: var(--dialog-width-mobile);
  }
}
