/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --text-size-main: 18px;
  --text-size-small: 14px;
  --line-height-main: 21px;
  --line-height-title: 1.22;

  --card-padding: 25px;
  --card-title-padding: 4px 10px;

  --card-label-offset: 25px;
  --card-label-text-color: rgba(0, 0, 0, 0.5);
  --card-label-stroke-color: rgba(255, 255, 255, 0.5);

  --button-gap: 6px;

  --button-save-width: 335px;
  --button-save-height: 55px;
  --button-save-gap: 8px;
  --button-icon-size: 21px;

  --heart-contour-color: rgba(0, 0, 0, 1);
  --heart-animation-color: rgba(255, 0, 0, 1);
  --heart-hover-color: rgba(0, 0, 0, 1);
  --heart-active-color: rgba(255, 0, 0, 1);

  --button-text-color: rgba(255, 255, 255, 1);

  --button-save-width-mobile: 306px;
  --button-save-height-mobile: 84px;
  --button-save-icon-size-mobile: 28px;

  --dialog-padding: 28px;
  --dialog-width: 353px;
  --dialog-gap-row: 30px;
  --dialog-gap-column: 20px;

  --dialog-width-mobile: 341px;
  --dialog-padding-mobile: 28px 38px;

  --page-gap: 100px;
  --header-gap: 20px;
  --header-padding: clamp(7.5rem, 6.9231rem + 2.4615vw, 8rem) 0;
  --body-gap: 50px;

  --font-main: "Inter", sans-serif;
  --font-accent: "PressStart2P", sans-serif;

  --font-weight-main: 410;
  --font-weight-title: 715;

  --text-color: rgba(0, 0, 0, 1);
  --bg-color: rgba(255, 255, 255, 1);
  --border-style: solid 2px rgba(0, 0, 0, 1);
  --accent-color: rgba(0, 0, 0, 1);

  --background-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --content-width: clamp(320px, 100vw, 700px);
}
